html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'SourceSansProLight';
    font-weight: normal;
    color: #29303F;
    background: white;
}

.app {
    height: 100vh;
    width: 100vw;
}

.content {
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
}

.content-inputs {
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    box-shadow: 0px 0px 1px #888888;
}

.content-inputs table tr td {
    text-align: center;
}

.content-inputs th,
td {
    padding: 0.4rem;
}

.content-inputs input {
    outline: 0;
    width: 90%;
    border: none;
    border-bottom: 1px solid gray;
    background: none;
    text-align: left;
}

.content-inputs h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.content-inputs h2 {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
}

.content-inputs h2 select {
    margin-left: 0.5rem;
}

.content-outputs h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.content-outputs h2 {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
}

.content-outputs h2 select {
    margin-left: 0.5rem;
}

.content-outputs button {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

pre code {
    margin: 1rem;
    padding-left: 2rem;
}

@media all and (max-width: 40rem) and (min-width: 0rem) {
    .navigation {
        height: auto;
        width: 100vw;
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 0rem 0rem 0.5rem gray;
        float: left;
    }
    .navigation ul {
        display: none;
    }
    .navigation .nav-absolute-logo > div {
        height: 3rem;
        float: left;
        width: 100vw;
        text-align: center;
    }
    .navigation-resource {
        max-width: 50%;
        height: auto;
        text-align: center;
    }
    .syntax-highlight {
        height: auto;
        max-width: 50%;
        text-align: center;
    }
    .nav-absolute-logo a {
        width: 100vw;
        margin: 0 auto;
        text-decoration: none;
    }
    .nav-absolute-logo a img {
        height: 2rem;
        padding-top: 0.8rem;
    }
    .nav-absolute-logo h3 {
        width: 100vw;
        text-align: center;
        padding-bottom: 0.3rem;
    }
    #nav-select {
        display: visible;
    }
    .content {
        margin-top: 6rem;
        height: auto;
        width: 100%;
    }
    .content-inputs {
        height: auto;
        padding-bottom: 3rem;
    }
    .content-inputs table {
        width: 100%;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .content-inputs > button {
        float: right;
        margin-top: 1rem;
        margin-right: 3rem;
    }
    .content-outputs {
        height: auto;
        width: 100%;
        box-shadow: 0px 0px 1px #888888;
        overflow: hidden;
        overflow-x: auto;
        overflow-y: auto;
        padding-bottom: 2rem;
    }
}

@media all and (max-width: 70rem) and (min-width: 40rem) {
    .navigation {
        height: 4rem;
        width: 100%;
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 0rem 0rem 1rem gray;
    }
    .navigation .nav-absolute-logo > div {
        float: left;
    }
    .navigation-resource {
        float: left;
        width: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.8rem;
        text-align: center;
    }
    .syntax-highlight {
        float: left;
        width: auto;
        padding-top: 0.8rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-align: center;
    }
    .navigation ul {
        display: none;
    }
    .nav-absolute-logo a {
        text-decoration: none;
    }
    .nav-absolute-logo a img {
        height: 2rem;
        padding: 1rem;
    }
    .nav-absolute-logo h3 {
        float: left;
        padding-top: 1.4rem;
    }
    #nav-select {
        display: visible;
    }
    .content {
        margin-top: 6rem;
        height: auto;
        width: 100%;
    }
    .content-inputs {
        height: auto;
        padding-bottom: 3rem;
    }
    .content-inputs table {
        width: 100%;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .content-inputs > button {
        float: right;
        margin-top: 1rem;
        margin-right: 7rem;
    }
    .content-outputs {
        height: auto;
        width: 100%;
        box-shadow: 0px 0px 1px #888888;
        overflow: hidden;
        overflow-x: auto;
        overflow-y: auto;
        padding-bottom: 2rem;
    }
}

@media all and (min-width: 70rem) {
    .app {
        background: white;
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: space-between;
        height: 100vh;
        width: 100vw;
    }
    .navigation {
        min-width: 15rem;
        overflow: hidden;
        overflow-x: auto;
        overflow-y: auto;
        box-shadow: 0px 0px 10px #888888;
        background: none;
    }
    .nav-absolute-logo {
        width: 15rem;
        height: 9rem;
        background: white;
        box-shadow: 0px 0px 2px #888888;
    }
    .nav-absolute-logo img {
        width: 100%;
        margin: 2.5rem 2rem 0rem 2rem;
        width: 11rem;
    }
    .nav-absolute-logo h3 {
        font-family: 'SourceSansProLight';
        font-weight: normal;
        text-align: center;
    }
    .navigation ul {
        overflow: hidden;
        overflow-y: auto;
        overflow-x: auto;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
    .navigation ul a {
        color: #29303F;
        text-decoration: none;
    }
    .navigation ul a li {
        list-style: none;
        padding: 0.5rem;
        padding-left: 3rem;
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
    }
    .navigation ul a li:hover {
        color: white;
        background: #29303F;
    }
    .navigation-resource {
        display: none;
    }
    .syntax-highlight {
        height: 3.5rem;
        margin-top: 2.7rem;
        padding-top: 0.5rem;
        width: 100%;
        text-align: center;
        box-shadow: 0px 0px 1px #888888;
    }
    .content {
        height: 100vh;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-around;
    }
    .content-inputs {
        height: 100vh;
        width: 80%;
    }
    .content-inputs table {
        width: 100%;
        padding-top: 1rem;
    }
    .content-inputs > button {
        float: right;
        margin-top: 1rem;
        margin-right: 4rem;
    }
    .content-outputs {
        height: 100vh;
        width: 100%;
        box-shadow: 0px 0px 1px #888888;
        overflow: hidden;
        overflow-x: auto;
        overflow-y: auto;
    }
}
